<div class='container-fluid'>  
     
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../assets/m2.jpg"  height ="80%" width ="80%" alt="Delhi Metro">  
                
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/m1.jpg" height ="80%" width ="80%" alt="Bangalore Metro">  
                 
            </ng-template>    
            <ng-template ngbSlide>  
                <img src="../assets/m3.jpg" height ="80%" width ="80%" alt="Mumbai Metro">  
               
            </ng-template>  
        </ngb-carousel>  
    </div>  
  
</div>  
