
<br>
<mat-toolbar color="primary">
    <a mat-button > Teacher</a>
  
</mat-toolbar>




<a  href='https://docs.google.com/forms/d/e/1FAIpQLSdQacEiEVaTewxXo2nCvvZo_Hx6hzB3GlQAeIUYfxUr89tgGw/viewform?usp=sf_link'>Submit Student data</a>

<br> <br>


<h2>    Previous  Cumulative Evaluations</h2>
<h3> 16th July 2020</h3>
<div id="divChart">
    <canvas id="charts" width="400" height="400"></canvas>
</div>
<br>
<h2>  Cumulative Student Collaborative Evaluation</h2>
<div id="divChart">
    <canvas id="charts1" width="400" height="400"></canvas>
</div>

<br>
<h2> Cumulative Student Critical Thinking Evaluation</h2>
<div id="divChart">
    <canvas id="charts2" width="400" height="400"></canvas>
</div>

<br>
<h2>  Cumulative Student Logical Resoning  Evaluation</h2>
<div id="divChart">
    <canvas id="charts3" width="400" height="400"></canvas>
</div>
<br>
<h2>Cumulative Student Public Speaking Evaluation</h2>
<div id="divChart">
    <canvas id="charts4" width="400" height="400"></canvas>
</div>




