<mat-toolbar class='nav' color="primary">
    Sign in
    <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #signinForm="ngForm" (ngSubmit)="onSubmit()">
  
        <mat-form-field>
            <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" 
            #username="ngModel" required name="username">
            <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="text" [(ngModel)]="user.email" 
            #email="ngModel" name="email" required >
            <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
            
        </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" [(ngModel)]="user.password1" 
            #password1="ngModel" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <mat-error *ngIf="password1.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="password1.errors?.pattern">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</mat-error>
          </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" [(ngModel)]="user.password2" 
            #password2="ngModel" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <mat-error *ngIf="password2.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="password2.errors?.pattern">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Signin as Principal or Teacher</mat-label>
            <mat-select multiple>
                <mat-option>Teacher</mat-option>
                <mat-option>Student</mat-option>
            </mat-select>
        </mat-form-field>
        <br><mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
        <br><div class="style=display: flex">
            <p>No account?<button mat-button (click)="openLoginForm()">Log in </button></p>
            
        </div>
        

        <!--Disable the button if form entry is invalid-->
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="signinForm.form.invalid" >Sign in</button>
        <p>{{ error?.message }}</p>
        <p *ngIf="error">{{ error?.error | json }}</p>


    
</form>
